{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <header>
        <h1 style="color: #ff0000;">Zona de Comics</h1>
        <img src="{% static 'img/logo.png' %}" alt="Zona de Comics" width="100">
    </header>

    <main>
        <section class="store-info">
            <div class="welcome-card">
                <h2 style="color: #0077b6;">Bienvenido a Zona de Comics</h2>
                <p>En nuestra tienda, encontrarás una emocionante selección de cómics y mangas. Desde los clásicos hasta las últimas novedades, tenemos algo para todos los fanáticos.</p>
            </div>
        </section>

        <section class="info-tienda">
            <h2>Información de la Tienda</h2>
            <p>Aquí puedes dar un vistazo más detallado sobre nuestra tienda de cómics y mangas.</p>
        </section>

        <section class="screenshot-gallery">
            <h2>Capturas de Pantalla</h2>
            <div class="grid-gallery">
                <div class="grid-item">
                    <img src="{% static 'img/login.png' %}" alt="Pantalla de Inicio de Sesión">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/registro.png' %}" alt="Pantalla de Registro">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/home.png' %}" alt="Pantalla de Inicio">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/destacados.png' %}" alt="Pantalla de Destacados">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/mangas.png' %}" alt="Pantalla de Mangas">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/dc.png' %}" alt="Pantalla de DC">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/marvel.png' %}" alt="Pantalla de Marvel">
                </div>
                <div class="grid-item">
                    <img src="{% static 'img/individual.png' %}" alt="Pantalla Individual">
                </div>
            </div>
        </section>
        
        <section class="compra">
            <h2>Explora y Descarga</h2>
            <p>¿Te gusta cómo luce nuestra página? ¡Esto es solo el comienzo! Con nuestra app, tendrás todo un universo de cómics y mangas al alcance de tu mano. 📱</p>
            <p>Descubre historias épicas, mundos fantásticos y personajes inolvidables. ¡Es fácil comenzar! Solo sigue estos simples pasos y lleva la magia contigo a todas partes.</p>
            <a href="#" class="descargar-app">Descarga la App Aquí</a>
        </section>
        
        <section class="productos">
            <h2>Nuestros Productos</h2>
            <p>Desde clásicos que marcaron una era hasta las últimas novedades que todos están esperando, nuestra selección de cómics y mangas está diseñada para verdaderos fans. 🎨✨</p>
            <p>Pero ¿por qué detenerte aquí? Con nuestra app, podrás explorar aún más, disfrutar de contenido exclusivo y recibir actualizaciones al instante. ¡No te lo pierdas!</p>
            <a href="#" class="descargar-app">Adéntrate en este mundo</a>
        </section>

    <footer>
        <div class="footer">
            <p>&copy; 2024 Zona de Comics. Todos los derechos reservados.</p>
        </div>
    </footer>
</div>
{% endblock %}